<div class="project-page">

<a href="#main" class="back"><i class="fa-solid fa-arrow-left-long"></i> На главную</a>

<h3 data-bkg="«dwm»" >Утилита для управления статусбаром оконного менеджера dwm «dwmblocks-go»</h3>

<img href="https://amaretur.github.io/img/dwmblocks/ui1.png" data-fancybox src="https://amaretur.github.io/img/dwmblocks/ui1.png" alt="Пользовательская форма 1">

<p>Исходный код c кратким описанием программы (в виде README) доступен по ссылке: <a href="https://github.com/amaretur/dwmblocks-go" target="_blank">github.com/amaretur/dwmblocks-go</a>.</p>

</div>

<script>
	init_hidden_widgets();
	Fancybox.bind("[data-fancybox]", {});
</script>
